src/wsdl/tracking.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TrackingService"
             targetNamespace="http://logistica.com/ws/tracking"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://logistica.com/ws/tracking"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <types>
    <xsd:schema targetNamespace="http://logistica.com/ws/tracking">

      <!-- TrackingEvent Type -->
      <xsd:complexType name="TrackingEvent">
        <xsd:sequence>
          <xsd:element name="date" type="xsd:dateTime"/>
          <xsd:element name="description" type="xsd:string"/>
          <xsd:element name="location" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- TrackingEvent Array -->
      <xsd:complexType name="TrackingEventArray">
        <xsd:sequence>
          <xsd:element name="event" type="tns:TrackingEvent" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- GetTrackingStatusRequest Type -->
      <xsd:complexType name="GetTrackingStatusRequest">
        <xsd:sequence>
          <xsd:element name="trackingNumber" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- GetTrackingStatusResponse Type -->
      <xsd:complexType name="GetTrackingStatusResponse">
        <xsd:sequence>
          <xsd:element name="status" type="xsd:string"/>
          <xsd:element name="currentLocation" type="xsd:string"/>
          <xsd:element name="estimatedDeliveryDate" type="xsd:date" minOccurs="0"/>
          <xsd:element name="history" type="tns:TrackingEventArray"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- TrackingError Type -->
      <xsd:complexType name="TrackingError">
        <xsd:sequence>
          <xsd:element name="errorCode" type="xsd:int"/>
          <xsd:element name="errorMessage" type="xsd:string"/>
          <xsd:element name="invalidField" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Elements -->
      <xsd:element name="GetTrackingStatus" type="tns:GetTrackingStatusRequest"/>
      <xsd:element name="GetTrackingStatusResponse" type="tns:GetTrackingStatusResponse"/>
      <xsd:element name="TrackingError" type="tns:TrackingError"/>

    </xsd:schema>
  </types>

  <!-- Messages -->
  <message name="GetTrackingStatusRequest">
    <part name="parameters" element="tns:GetTrackingStatus"/>
  </message>

  <message name="GetTrackingStatusResponse">
    <part name="parameters" element="tns:GetTrackingStatusResponse"/>
  </message>

  <message name="TrackingFault">
    <part name="fault" element="tns:TrackingError"/>
  </message>

  <!-- Port Type -->
  <portType name="TrackingPortType">
    <operation name="GetTrackingStatus">
      <input message="tns:GetTrackingStatusRequest"/>
      <output message="tns:GetTrackingStatusResponse"/>
      <fault name="TrackingFault" message="tns:TrackingFault"/>
    </operation>
  </portType>

  <!-- Binding -->
  <binding name="TrackingBinding" type="tns:TrackingPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="GetTrackingStatus">
      <soap:operation soapAction="http://logistica.com/ws/tracking/GetTrackingStatus"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="TrackingFault">
        <soap:fault name="TrackingFault" use="literal"/>
      </fault>
    </operation>
  </binding>

  <!-- Service -->
  <service name="TrackingService">
    <port name="TrackingPort" binding="tns:TrackingBinding">
      <soap:address location="http://localhost:3000/tracking"/>
    </port>
  </service>

</definitions>
