src/wsdl/tracking.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://logistica.com/ws/tracking"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://logistica.com/ws/tracking"
             elementFormDefault="qualified">

  <!-- Types -->
  <types>
    <xsd:schema targetNamespace="http://logistica.com/ws/tracking"
                elementFormDefault="qualified">

      <!-- TrackingEvent Type -->
      <xsd:complexType name="TrackingEvent">
        <xsd:sequence>
          <xsd:element name="date" type="xsd:dateTime"/>
          <xsd:element name="description" type="xsd:string"/>
          <xsd:element name="location" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- GetTrackingStatusRequest -->
      <xsd:element name="GetTrackingStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="trackingNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- GetTrackingStatusResponse -->
      <xsd:element name="GetTrackingStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="currentLocation" type="xsd:string"/>
            <xsd:element name="estimatedDeliveryDate" type="xsd:date" minOccurs="0"/>
            <xsd:element name="history" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="event" type="tns:TrackingEvent" maxOccurs="unbounded"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- TrackingError -->
      <xsd:element name="TrackingError">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="errorCode" type="xsd:int"/>
            <xsd:element name="errorMessage" type="xsd:string"/>
            <xsd:element name="invalidField" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <!-- Messages -->
  <message name="GetTrackingStatusRequest">
    <part name="parameters" element="tns:GetTrackingStatus"/>
  </message>

  <message name="GetTrackingStatusResponse">
    <part name="parameters" element="tns:GetTrackingStatusResponse"/>
  </message>

  <message name="TrackingErrorFault">
    <part name="fault" element="tns:TrackingError"/>
  </message>

  <!-- PortType -->
  <portType name="TrackingServicePortType">
    <operation name="GetTrackingStatus">
      <input message="tns:GetTrackingStatusRequest"/>
      <output message="tns:GetTrackingStatusResponse"/>
      <fault name="TrackingErrorFault" message="tns:TrackingErrorFault"/>
    </operation>
  </portType>

  <!-- Binding -->
  <binding name="TrackingServiceBinding" type="tns:TrackingServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="GetTrackingStatus">
      <soap:operation soapAction="http://logistica.com/ws/tracking/GetTrackingStatus"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="TrackingErrorFault">
        <soap:fault name="TrackingErrorFault" use="literal"/>
      </fault>
    </operation>
  </binding>

  <!-- Service -->
  <service name="TrackingService">
    <port name="TrackingServicePort" binding="tns:TrackingServiceBinding">
      <soap:address location="http://localhost:3000/soap"/>
    </port>
  </service>

</definitions>
