wsdl/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TrackingService"
  targetNamespace="http://www.enviosexpress.com/wsdl"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://www.enviosexpress.com/wsdl"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">

  <types>
    <xsd:schema targetNamespace="http://www.enviosexpress.com/wsdl">
      <xsd:element name="trackPackageRequest" type="xsd:string"/>
      <xsd:element name="trackPackageResponse" type="xsd:string"/>
    </xsd:schema>
  </types>

  <message name="TrackPackageRequest">
    <part name="trackingNumber" element="tns:trackPackageRequest"/>
  </message>

  <message name="TrackPackageResponse">
    <part name="result" element="tns:trackPackageResponse"/>
  </message>

  <portType name="TrackingPortType">
    <operation name="trackPackage">
      <input message="tns:TrackPackageRequest"/>
      <output message="tns:TrackPackageResponse"/>
    </operation>
  </portType>

  <binding name="TrackingBinding" type="tns:TrackingPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="trackPackage">
      <soap:operation soapAction="trackPackage"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <service name="TrackingService">
    <port name="TrackingPort" binding="tns:TrackingBinding">
      <soap:address location="http://localhost:8000/soap/tracking"/>
    </port>
  </service>

</definitions>
